<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Logueo</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/secure.css'}" />
    </head>
    <body >
	<div class="container">
		<div class="dNavegacion">
			<p class="tituloE">G. de pasajes</p></div>
		<div class="dContenido">
       		 #{doLayout /}
		</div>
		<div class="dFooter">
			<a style="margin-left:100px;color:white" href="http://github.com/inforux/sinformacion">Github </a> 
		</div>
	</div>

    </body>
</html>
