#{extends 'Secure/layout.html' /}

<div class="text" ><span style="margin-left:100px;"> Aplicacion para gestionar pasajes de los empleados de bus, para <a target="_blank" style="color:black" href="https://www.panamericansilver.com.pe/">CIA Minera Argentum  </span> </div>
<div id="login">

	
<div class="diLogin">
</div>
	<h1>&{'secure.title'}</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				Las credenciales no son correctas
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				Ud. cerro su session con exito
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">User</label>
			<input type="text" class="bonitoField" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">Password</label>
			<input class="bonitoField" type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">Recordarme</label>
		</p>
		<p id="signin-field">
			<input type="submit" class="btn" id="signin" value="Login" />
		</p>
	#{/form}
</div>
<div class="diApp"style="padding-top:350px;">
	<span class="cloudT" >Aplicaciones en la nube</span> <br>
	<span class="cloudT2" >Siempre disponible</span><br>
	<span class="cloudT3" >Total seguridad</span>
</div>
