html, body {
    margin:0;
    padding:0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

a{
text-decoration:none;
}

@font-face {
	    font-family: "oracle";
	        src: url("/public/fonts/oracle.ttf") format("truetype");
}

@font-face {
        font-family: "android";
        src: url("/public/fonts/android.ttf") format("truetype");
}

@font-face {
        font-family: "roboto";
        src: url("/public/fonts/roboto.ttf") format("truetype");
}

.container {
	margin-top:-20px;
}

.dNavegacion{
    height:40px; 
    background-image: url("/public/images/barraNav.jpg"); 
	width:100%;
}
.tituloE{ 
    margin-left:100px;
    font-family: "oracle", Verdana, Tahoma;
    font-size:20px; 		    
    color:white;
    float:left;
}

.dContenido{
	border-style:dotted;
	border-width:2px;
	padding:10px;

	margin-left:100px;
	margin-right:100px;
	margin-bottom:30px;

	padding-bottom:60px;   /* Height of the footer */
	clear: both;
	display: block;
	height:480px;
}

.dFooter{
        width:100%;
	height:50px;   /* Height of the footer */
	background-image: url("/public/images/barraNav.jpg"); 
}
.btn{
	line-height: 29px;
	vertical-align: bottom;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
}
.bonitoField{
padding: 5px;  
    font-size: 15px;  
        text-shadow: 0px 1px 0px #fff;  
	    outline: none;  
	        background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
		    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
		        -webkit-border-radius: 3px;  
			    -moz-border-radius: 3px;  
			        border-radius: 3px;  
				    border: 1px solid #717171; 
}


#menu{
	margin-left:600px;
	margin-right:100px;
	/*estilo de nuestra lista*/
	list-style:none;
	width:auto;
	position:relative;
	display:block;
	height:36px;
	
}
#menu li{
	/*estilo a cada uno de los elementos(li) de nuestro menu*/
	float:left;/* propiedad importante para que nuestro menu tome la forma horizontal*/
	display:block;
	position:relative;
	
}
#menu li a{
	/*estilo de los enlaces */
	color:#fff;
	text-decoration:none;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.3em;
	padding:10px 14px 8px 16px;
	display:block;
	
}
#menu li ul{
	/*estilo de los submenus*/
	width:120px;
	background:#ffffff;
	border:1px #ccc solid;
	display:none; /*importante para que los submenus no estén visibles*/
	position:absolute;
	z-index:999;
	margin-top:0px;
	
}
#menu li ul li{
	/*estilo a cada uno de los elementos(li) de nuestro submenu*/
	width:100%;
	list-style:none;
	display:block;
	
}
#menu li ul li a{
	/*estilo a cada uno de los enlaces de nuestro submenu*/
	color:black;
	font-size:15px;
	line-height:1.3em;
	display:block;
	font-weight:normal;
	padding:6px
	
}
#menu li ul li a:hover{
	/*un poco de decoracion a los enlaces de nuestro submenu al estar el cursor sobre ellos con ayuda de el selector :hover */
	background-color:#e3aa00;
	color:white;
}
#menu li:hover ul{
	display:block;
}

.desactivado{
	opacity: .55;
	filter:Alpha(Opacity=65);
	background-image: none;
	cursor: default !important;
}
.desactivado a {
	cursor: default;
}
.diApp{
	height:520px;
	background-image: url("/public/images/mina_huaron.jpg"); 
	background-repeat:no-repeat;
	margin-left:380px;
	margin-top:50px;
}
.cloudT{
	font-family: "oracle", Verdana, Tahoma;
	font-size:30px;
	color:#4d90fe
}

.cloudT2{
	font-family: "oracle", Verdana, Tahoma;
	font-size:20px;
	color:#4d90fe
}
.cloudT3{
	font-family: "oracle", Verdana, Tahoma;
	font-size:13px;
	color:black
}
