#{extends 'main.html' /}
#{set title:'Bienvenido' /}

<div class="diLogin">
	Presentacion:
	<p>
	Desde el inicio de nuestras operaciones, nos hemos preocupado por el entorno, su ecosistema y su comunidad. Nuestra politica del buen vecino se basa en formar parte integral de los pueblos de nuestra zona de influencia, interesandonos por sus necesidades y problemas, es asi que siempre estamos dispuestos a dialogar y aplicar herramientas de gestion social destinadas a lograr el desarrollo de la comunidad. 
	</p>
</div>
<div class="diApp"style="padding-top:350px;">
	<span class="cloudT3" >Unidad Morococha - Peru</span>
</div>
